<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Simple one page resume generator</title>
    <style>
        {{ with resources.Get "css/landing.css" | minify}}
            {{ .Content | safeCSS }}
        {{ end }}
    </style>
</head>
<body>
    <header>
        <h1>Simple resume generator</h1>
    </header>
    <section>
        <p>This project, which is available on <a href="https://github.com/merkurij/resume">GitHub</a>, enables the generation of a one-page resume by submitting a pull request to the repository.
            The generated resume will then be hosted on the repository.</p>
    </section>
    <footer>
        Created by team of enthusiasts.
    </footer>
</body>
</html>