<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Simple one page resume generator</title>
</head>
<body>
    <header>
        <h1>Simple resume generator</h1>
        <p>This is opensource project for generating one-page resume. It's available on <a href="https://github.com/merkurij/resume">GitHub</a>.
           You can generate your own resume by making pull request to repository. It will be generated and hosted right there.</p>
    </header>
    <footer>
        Created by team of enthusiasts.
    </footer>
</body>
</html>